<div class="container order-view hidden-content" ng-model="stocks">
    <div class="row">
        <div class="col-md-12 panel-head-list">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="fa fa-home icon-head"></i>stock details</div>
                <ul class="list-group list-group-details">
                    <li class="list-group-item">
                    </li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>productId</th>
                            <th>name</th>
                            <th class="hidden-xs">unitPrice</th>
                            <th>stock</th>
                            <th>operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in stocks">
                            <td class="tdst-group-item">
                                <a>{{stock.product.productId}}</a>
                            </td>
                            <td class="tdst-group-item">
                                {{stock.product.name}}
                            </td>
                            <td class="tdst-group-item hidden-xs">
                                {{stock.product.unitPrice}}
                            </td>
                            <td class="tdst-group-item">
                                {{stock.number}}
                            </td>
                            <td class="tdst-group-item">
                                <button class="btn btn-primary" id="addToStock" type="submit">Inbound</button>
                                <button class="btn btn-primary" id="delete" type="submit">Outbound</button>
                                <button class="btn btn-primary" id="updateProduct" type="submit">update</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>