<div class="container order-view hidden-content" ng-model="stocks">
    <div class="row">
        <div class="col-md-12 panel-head-list">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="fa fa-home icon-head"></i>库存详情</div>
                <ul class="list-group list-group-details">
                    <li class="list-group-item">
                    </li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>产品编号</th>
                            <th>名称</th>
                            <th class="hidden-xs">单价(元)</th>
                            <th>未同步库存数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in Stocks">
                            <td class="tdst-group-item">
                                <a>{{stock.product.productId}}</a>
                            </td>
                            <td class="tdst-group-item">
                                {{stock.product.name}}
                            </td>
                            <td class="tdst-group-item hidden-xs">
                                {{stock.product.unitPrice}}
                            </td>
                            <td class="tdst-group-item">
                                {{stock.number}}
                            </td>
                            <td class="tdst-group-item">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"  ng-click="setCurrentStock(stock)">增量</button>
<!--                                <button class="btn btn-primary" id="delete" type="submit" ng-click="setCurrentProduct(product)">Outbound</button>-->
                                <button class="btn btn-primary" data-toggle="modal" data-target="#productModal" ng-click="setCurrentStock(stock)">修改</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- 模态框（Modal） -->
                    <div class="modal" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content"  style="background:#3C3C3C; color:#3C3C3C">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel" style="color: floralwhite">入库</h4>
                                </div>
                                <div class="modal-body" style="color: floralwhite">
                                    <label class="control-label" style="padding-right:25px;">产品编号：<span style="color:red">{{item.product.productId}}</span></label>
                                    <label class="control-label">新增产品数：</label>
                                    <input type="text" ng-model="addNum" id="addNum" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="请输入要入库的数量">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addToStock()">提交</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <!-- 模态框（Modal） -->
                    <div class="modal" id="productModal"  tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content"  style="background:#3C3C3C; color:#3C3C3C">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="productModalLabel" style="color: floralwhite">产品信息</h4>
                                </div>
                                <div class="modal-body" style="color: floralwhite">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>产品编号</th>
                                            <th>名称</th>
                                            <th class="hidden-xs">单价(元)</th>
                                        </tr>
                                        <tr >
                                            <td class="tdst-group-item">
                                                <input type="text" disabled="disabled" ng-model="item.product.productId">
                                            </td>
                                            <td class="tdst-group-item">
                                                <input type="text" ng-model="item.product.name" onmouseout="checkProductName(this.value)">
                                            </td>
                                            <td class="tdst-group-item hidden-xs">
                                                <input type="text" ng-model="item.product.unitPrice" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')" onmouseout="checkRadixPoint(this.value)">
                                            </td>
                                        </tr>
                                    </table>
                                        <div id="checkRadixPointAlert" class="alert alert-success fade" style="text-align:center" role="alert"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="updateProductButton" ng-click="updateProduct(item)">更新</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>