<div class="container order-view hidden-content" ng-model="stocks">
    <div class="row">
        <div class="col-md-12 panel-head-list">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="fa fa-home icon-head"></i>stock details</div>
                <ul class="list-group list-group-details">
                    <li class="list-group-item">
                    </li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>productId</th>
                            <th>name</th>
                            <th class="hidden-xs">unitPrice</th>
                            <th>stock</th>
                            <th>operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in stocks">
                            <td class="tdst-group-item">
                                <a>{{stock.product.productId}}</a>
                            </td>
                            <td class="tdst-group-item">
                                {{stock.product.name}}
                            </td>
                            <td class="tdst-group-item hidden-xs">
                                {{stock.product.unitPrice}}
                            </td>
                            <td class="tdst-group-item">
                                {{stock.number}}
                            </td>
                            <td class="tdst-group-item">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="setCurrentStock(stock)">Inbound</button>
<!--                                <button class="btn btn-primary" id="delete" type="submit" ng-click="setCurrentProduct(product)">Outbound</button>-->
                                <button class="btn btn-primary" id="updateProduct" ng-click="setCurrentStock(stock)" type="submit">edit</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content"  style="background:#3C3C3C; color:#3C3C3C">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel" style="color: floralwhite">入库</h4>
                                </div>
                                <div class="modal-body" style="color: floralwhite">
                                    <label class="control-label">库存数：</label>
                                    <input type="text" ng-model="addNum"  placeholder="请输入要入库的数量">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addToStock()">提交</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="productModal"  tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content"  style="background:#3C3C3C; color:#3C3C3C">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="productModalLabel" style="color: floralwhite">入库</h4>
                                </div>
                                <div class="modal-body" style="color: floralwhite">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>productId</th>
                                            <th>name</th>
                                            <th class="hidden-xs">unitPrice</th>
                                        </tr>
                                        <tr >
                                            <td class="tdst-group-item">
                                                <input type="text" ng-model="item.product.productId">
                                            </td>
                                            <td class="tdst-group-item">
                                                <input type="text" ng-model="item.product.name">
                                            </td>
                                            <td class="tdst-group-item hidden-xs">
                                                <input type="text" ng-model="item.product.unitPrice">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateProduct(item)">更新</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>